<%= form_with(model: @instaclo, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @instaclo.errors.any? %>
    <div id="error_explanation">
      <h2><%= @instaclo.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @instaclo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="instaclo_title">
    <%= form.label :コメント %>
    <%= form.text_field :content %>
  </div>
  <div class="instaclo_title">
    <%= form.label :画像 %>
    <%= form.file_field :image, id: :instaclo_image %>
  </div>
  <br>
  <button type="submit" class="btn btn-warning btn-sm">投稿</button>
<% end %>