<h3>以下の内容で、投稿しますか？</h3>

<%= form_with(model: @instaclo, url: instaclos_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>コメント:<%= @instaclo.content %></p>
  <p>画像:<%= image_tag(@instaclo.image) %></p>
  <%= form.hidden_field :image_cache %>
  <button type="submit" class="btn btn-warning btn-sm">投稿</button>
<% end %>

<br>

<%= form_with(model: @instaclo, url: new_instaclo_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <button type="submit" name='back' class="btn btn-default btn-sm">もどる</button>
<% end %>