<h1>投稿一覧</h1>

<table>
<% @instaclos.each do |instaclo| %>

  <tr>

    <td>投稿者:<%= instaclo.user.name %>さん<br>
        <%= image_tag instaclo.user.image_url (:thumb) %></td>
    <td><%= image_tag instaclo.image %></td>
    <td>コメント:<%= instaclo.content %><br>
      <button type="button" class="btn btn-success btn-sm">
        <%= link_to '詳細', instaclo_path(instaclo.id) %></button>
    <% if instaclo.user_id == current_user.id %>
      <button type="button" class="btn btn-primary btn-sm">
        <%= link_to '編集', edit_instaclo_path(instaclo.id), data: { confirm: '本当に編集していいですか？' } %></button>
      <button type="button" class="btn btn-danger btn-sm">
        <%= link_to '削除', instaclo_path(instaclo.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></button></td>
    <% end %>

  </tr>

<% end %>
</table>
