<h1>投稿一覧</h1>
<h2><%= notice %></h2>
<table>
  <tr>
    <th>内容</th>
  </tr>

<% @instaclos.each do |instaclo| %>
  <tr>
    <td><%= instaclo.content %></td>
    <td><%= link_to '詳細', instaclo_path(instaclo.id) %></td>
    <td><%= link_to '編集', edit_instaclo_path(instaclo.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', instaclo_path(instaclo.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新規投稿', new_instaclo_path %>